<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script>
  function ajax1(id){
      $.ajax({
        type: "get",
        url: "/member/ajax/" + id,
        dataType: "json",
        success: function (result){
          const text = document.getElementById("result");
          let value = "<table><tr><td>Email</td><td>"+result.memberEmail+"</td></tr>";
          value += "<tr><td>Name</td><td>"+result.memberName+"</td></tr>";
          value += "<tr><td>Age</td><td>"+result.memberAge+"</td></tr>";
          value += "<tr><td>PhoneNumber</td><td>"+result.memberPhone+"</td></tr></table>";
          text.innerHTML = value;
        },error: function (){
          alert("에러");
        }
      });
      }
  </script>
</head>
<body>
  <h2>List</h2>
  <table>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Name</th>
      <th>상세조회</th>
      <th>삭제</th>
    </tr>
    <tr th:each="member : ${memberList}">
      <td th:text="${member.id}"></td>
      <td><a th:onclick="|ajax1(${member.id})|"><div th:text="${member.memberEmail}"> Email </div></a></td>
      <td th:text="${member.memberName}">Name</td>
      <td><a th:href="@{|/member/${member.id}|}">상세조회</a></td>
      <td><a th:href="@{|/member/delete/${member.id}|}">삭제</a></td>
    </tr>
  </table>
<p id="result"></p>
</body>
</html>