<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>save</title>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script th:inline="javascript">
    const  emailDuplicate = () =>{
      const email = document.getElementById("memberEmail").value;
      const checkResult = document.getElementById("email-dup-result");
      $.ajax({
        type: "post",
        url: "/member/emailCheck",
        dataType: "text",
        data: {
          "memberEmail": email
        },success: function (result){
          if(email != "") {
            if (result == "ok") {
              checkResult.innerHTML = "사용 가능합니다."
              checkResult.style.color = "green";
            } else {
              checkResult.innerHTML = "중복된 아이디입니다."
              checkResult.style.color = "red";
            }
          }else{
            checkResult.innerHTML = "아이디를 입력해주세요."
            checkResult.style.color = "red";
          }
        },error: function (){
          alert("ajax 실패");
        }
      });
    }
  </script>
</head>
<body>
<h2>회원가입</h2>
  <form method="post" action="/member/save">
    <p>Email: <input type="text" id="memberEmail" name="memberEmail" onblur="emailDuplicate()"></p>
    <span id="email-dup-result"></span>
    <p>Password: <input type="password" name="memberPassword"></p>
    <p>Name: <input type="text" name="memberName"></p>
    <p>Age: <input type="text" name="memberAge"></p>
    <p>Phone: <input type="text" name="memberPhone"></p>
    <input type="submit" value="회원가입">
  </form>
</body>
</html>